name: Build

on:
  push:
    branches:
      - main
  workflow_dispatch:
    branches: [ main ]

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@0d381219ddf674d61a7572ddd19d7941e271515c # v2.9.0
      with:
        egress-policy: block
        allowed-endpoints: >
          archive.ubuntu.com:80
          auth.docker.io:443
          bootstrap.pypa.io:443
          developer.download.nvidia.com:443
          dl-cdn.alpinelinux.org:80
          files.pythonhosted.org:443
          github.com:443
          keys.openpgp.org:443
          production.cloudflare.docker.com:443
          pypi.org:443
          raw.githubusercontent.com:443
          registry-1.docker.io:443
          security.ubuntu.com:80
          www.python.org:443

    - uses: actions/checkout@61b9e3751b92087fd0b06925ba6dd6314e06f089
      with:
        fetch-depth: '0'

    - name: Login to Docker Hub
      uses: docker/login-action@0d4c9c5ea7693da7b068278f7b52bda2a190a446
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Run test.sh
      run: ./test.sh
      shell: bash
