name: Build and Push Dockerfiles

on:
  workflow_dispatch:
    branches: [ main ]
  schedule:
    - cron: '0 2 * * *' # Schedule to run at 2:00 AM UTC daily

permissions:
  contents: read

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@1b05615854632b887b69ae1be8cbefe72d3ae423 # v2.6.0
      with:
        egress-policy: audit

    - name: Checkout code
      uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0

    - name: Login to Docker Hub
      uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up Docker
      run: docker --version

    - name: Build and Push Dockerfiles in python-cuda directory
      run: |
        cd python-cuda
        for dockerfile in Dockerfile-*; do
          image="${dockerfile%Dockerfile-*}"
          base="${image%%/*}"
          suite="${image##*/}"
          build_dir=$(dirname "$dockerfile")

          if [[ -z "$suite" ]]; then
            suite=latest
          elif [[ "$suite" =~ "Dockerfile" ]]; then
            suite="${suite#Dockerfile-}"
          fi

          docker_tag="wallies/${base}:${suite}"

          (
            set -x
            docker build -t "$docker_tag" -f "$dockerfile" .
            echo "Successfully built $docker_tag with context $build_dir"
          )

          (
            set -x
            docker push "$docker_tag"
            echo "Successfully built and pushed $docker_tag"
          )
        done
